<footer class="center footer">
    <div class="footer__top">
        <h2 class="footer__heading">ОСТАЛИСЬ ВОПРОСЫ?</h2>
        <form class="footer__form" action="post">
            <input class="footer__tel" type="text" placeholder="Ваш телефон">
            <button class="button footer__button">заказать звонок</button>
            <div class="footer__confident">
                <input class="footer__checkbox" type="checkbox" id="footer-confirm">
                <label class="footer__label" for="footer-confirm">Я согласен на обработку персональных данных</label>
            </div>
        </form>
    </div>
    <div class="footer__block">
        <a href="index.html"><img class="footer__logo" src="img/logo-color.svg" alt=""></a>
        <nav>
            <ul class="footer__menu">
                <li class="footer__list"><a class="footer__link" href="index.html">Главная</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Отзывы</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Гарантии</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Описание</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Партнёры</a></li>
                <li class="footer__list"><a class="footer__link" href="#">Преимущества</a></li>
                <li class="footer__list"><a class="footer__link" href="#">FAQ</a></li>
            </ul>
        </nav>
        <div class="footer__burger-menu">
            <div class="footer__burger-lines"></div>
            <div class="footer__burger-lines"></div>
            <div class="footer__burger-lines"></div>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__text">© Сами копипастим и вам разрешаем 2019</p>
        <ul class="footer__icons">
            <li>
                <a class="footer__icon-link" href="#">
                    <span class="fa-stack fa-xs">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-vk fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="footer__icon-link" href="#">
                    <span class="fa-stack fa-xs">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li>
                <a class="footer__icon-link" href="#">
                    <span class="fa-stack fa-xs">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
        </ul>
        <p class="footer__text">Задизайнено мной</p>
    </div>
</footer>

<section class="modal-callback">
    <h2 class="modal-callback__title">Оставьте заявку, и мы Вам перезвоним!</h2> 
    <form class="modal-callback__form" action="post">
        <input class="modal-callback__input modal-callback__name" type="text" placeholder="Ваше имя">
        <input class="modal-callback__input modal-callback__tel" type="tel" placeholder="Ваш телефон">
        <button class="button modal-callback__button">заказать звонок</button>
    </form>
    <button class="modal-callback__close" type="button">Закрыть</button>
</section>
<div class="modal__overlay"></div>