<header class="center header">
    <div class="header__top">
        <a href="#"><img class="header__logo" src="img/logo-white.svg" alt="logo"></a>
        <nav>
            <ul class="header__menu">
                <li class="header__list"><a class="header__link" href="#">Главная</a></li>
                <li class="header__list"><a class="header__link" href="#">Отзывы</a></li>
                <li class="header__list"><a class="header__link" href="#">Гарантии</a></li>
                <li class="header__list"><a class="header__link" href="#">Описание</a></li>
                <li class="header__list"><a class="header__link" href="#">Партнёры</a></li>
                <li class="header__list"><a class="header__link" href="#">Преимущества</a></li>
                <li class="header__list"><a class="header__link" href="#">FAQ</a></li>
            </ul>
        </nav>
        <div class="header__burger-menu">
            <div class="header__burger-lines"></div>
            <div class="header__burger-lines"></div>
            <div class="header__burger-lines"></div>
        </div>
    </div>
    <div class="header__content">
        <h1 class="header__heading">ПРИДУМАЙТЕ, ЧТО ОТПРАВИТЬ</h1>
        <p class="header__text">А посылка доедет сама</p>
        <button class="button header__button">отправить посылку</button>
    </div>
</header>
<div class="center top">
    <h1 class="top__heading">ПРИДУМАЙТЕ, ЧТО ОТПРАВИТЬ</h1>
    <p class="top__text">А посылка доедет сама</p>
    <button class="button top__button">отправить посылку</button>
</div>